.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner {
  background-color: #000;
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 360px
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.choices {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.choices button {
  margin: 0 10px;
  background-color: #eee;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.choices button:hover {
  background-color: #ccc;
}

.resultsContainer {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  color: #fff;
}

.player,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.computer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
}

.animate {
  animation: bounce 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.result {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: white; /* add this line to change the text color */
}
